[Unit]
Description=DEMO
After=weston.service
Requires=weston.service
Before=graphical.target

[Service]
Type=forking
Restart=no
TimeoutSec=5min
IgnoreSIGPIPE=no
KillMode=process
GuessMainPID=no
RemainAfterExit=yes
ExecStart=/etc/init.d/autolaunch-demo

[Install]
WantedBy=multi-user.target

