[Unit]
Description=startwlansta

[Service]
Type=exec
ExecStart=/etc/init.d/startwlansta.sh
StandardOutput=journal+console
RemainAfterExit=yes


[Install]
WantedBy=multi-user.target

